body {
    background-image: url(../images/Roasted_coffee_beans.jpg);
    background-blend-mode: overlay;
}

form {
    width: 50%;
}

#contact > h2 {
    font-size: smaller;
}

#description {
    width: 50%;
}

fieldset, label {
    background-color: silver;
}

legend {
    background-color: silver;
}

fieldset {
    margin-top: 10px;
    text-align: left;
}

fieldset label {
    display: inline-block;
    text-align: right;
    min-width: 250px;
}

.submit {
    background-color: silver;
    font-weight: bold;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 40px;
    width: 150px;   
}

.locations {
    width: 50%;
    background-color: silver;
    font-size: large;
    border-style: solid;
}

.locations th, td {
    border-style: solid;
    border-width: 1px;
}

.locations {
    font-size: large;
    
}

.locations > tbody > tr > td > a {
    text-decoration: none;
}

a:hover {
    color: red;
}