form {
    width: 50%;
}

#contact > h2 {
    font-size: smaller;
}

fieldset, label {
    background-color: silver;
}

legend {
    background-color: silver;
}

fieldset {
    margin-top: 10px;
    text-align: left;
}

fieldset label {
    display: inline-block;
    text-align: right;
    min-width: 250px;
}

.submit {
    background-color: silver;
    font-weight: bold;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 40px;
    width: 150px;   
}